$primary: #1c3027;
$secondary: #F3D192;
$bg: #FFF1D8;
$inputs: #fdf8ef;
$black: #000;
$white: #fff;

$bg-white: #fbfbfb;
$dark-text: #1f1f1f;
$dark-color: #131313;
$input-bg: #1e1e1e;
$p-gray: #717171;
$input-color: #848484;
